.container-collections{
    margin: 3em;
    border: none;
}

.container-collections h1{
    text-align: center;
    font-family: "Fredoka";
    font-weight: 700;
}

.container-collections h3{
    font-family: "Fredoka";
    font-weight: 600;
    color: yellow;
}

.container-collections hr{
    size: 3em;
    color: yellow;
}