.container-collections{
    margin: 3em;
    border: none;
}

.container-collections h1{
    text-align: center;
    font-family: "Fredoka";
    font-weight: 700;
}

.container-collections h3{
    font-family: "Fredoka";
    font-weight: 600;
    color: yellow;
}

.container-collections hr{
    size: 5em;
    color: yellow;
}

.series-name {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Aligns items vertically in the center */
    padding: 10px 0; /* Optional: Adds some padding for spacing */
}

.series-name h3 {
    margin: 0; /* Remove default margin */
}

.series-name i {
    cursor: pointer;
    font-size: 1.5em;
}
